# Systemd unit file to run the Flask app as a service

[Unit]
Description=CarPrice Flask App
After=network.target

[Service]
# User that runs the service (Amazon Linux default)
User=ec2-user

# Working directory where the app is located
WorkingDirectory={{ app_dest }}

# Command to start the app using the virtual environment
ExecStart={{ app_dest }}/venv/bin/python {{ app_dest }}/app.py

#ExecStart=/usr/bin/make dev-python

# Restart policy if the app crashes
Restart=always

# Optional: environment variables
Environment=SKIP_TESTS=1
Environment=FLASK_HOST=0.0.0.0
Environment=HOST=0.0.0.0

[Install]
# Start the service automatically on boot
WantedBy=multi-user.target
